<div id="menu">
  <h1>Eat-Da-Burger!</h1>
  <div class="img_container">
    <i class="fas fa-hamburger"></i>
  </div>

  <form class="create-form">

    <div class="form-group">
      <textarea type="text" id="burger"></textarea>
    </div>

    <button id="addburger">Add Burger</button>
  </form>
  <div id="prepare">
    <h2>Preparing!</h2>
    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      <li>
        <div id="note">
          {{burger_name}}
          <button class="devour" data-id="{{this.id}}">Devour!</button>
        </div>
      </li>
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div id="ready">
    <h2>Burgers Ready!</h2>
    <ul>
      {{#each burgers}}
      {{#if devoured}}
      <li> {{burger_name}}</li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>